<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-주소-가져올-검색-리스트-생성" data-toc-modified-id="1.-주소-가져올-검색-리스트-생성-1">1. 주소 가져올 검색 리스트 생성</a></span></li><li><span><a href="#2.-카카오-API-활용---주소-검색" data-toc-modified-id="2.-카카오-API-활용---주소-검색-2">2. 카카오 API 활용 - 주소 검색</a></span></li><li><span><a href="#3.-서울-지역-제외한-모든-행-제거" data-toc-modified-id="3.-서울-지역-제외한-모든-행-제거-3">3. 서울 지역 제외한 모든 행 제거</a></span><ul class="toc-item"><li><span><a href="#3.1.-서울-이외-지역-잘못된-행-주소-(혹은-전철역명)-변경" data-toc-modified-id="3.1.-서울-이외-지역-잘못된-행-주소-(혹은-전철역명)-변경-3.1">3.1. 서울 이외 지역 잘못된 행 주소 (혹은 전철역명) 변경</a></span></li><li><span><a href="#3.2.-서울-이외-지역에-해당하는-행-제거" data-toc-modified-id="3.2.-서울-이외-지역에-해당하는-행-제거-3.2">3.2. 서울 이외 지역에 해당하는 행 제거</a></span></li><li><span><a href="#3.3.-서울-지역-잘못된-행-주소-(혹은-전철역명)-변경" data-toc-modified-id="3.3.-서울-지역-잘못된-행-주소-(혹은-전철역명)-변경-3.3">3.3. 서울 지역 잘못된 행 주소 (혹은 전철역명) 변경</a></span></li></ul></li><li><span><a href="#4.-위도,-경도-가져올-주소-리스트-생성" data-toc-modified-id="4.-위도,-경도-가져올-주소-리스트-생성-4">4. 위도, 경도 가져올 주소 리스트 생성</a></span></li><li><span><a href="#5.-카카오-API-활용---위도,-경도-검색" data-toc-modified-id="5.-카카오-API-활용---위도,-경도-검색-5">5. 카카오 API 활용 - 위도, 경도 검색</a></span></li><li><span><a href="#6.-환승역-여부-컬럼-추가" data-toc-modified-id="6.-환승역-여부-컬럼-추가-6">6. 환승역 여부 컬럼 추가</a></span></li></ul></div>

- 공공데이터 포털 - 서울특별시 노선별 지하철역 정보(신규)
https://data.seoul.go.kr/dataList/OA-15442/S/1/datasetView.do

In [1]:
import requests
from urllib.parse import urlparse
import numpy as np
import pandas as pd
import geopandas
import re

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
data = pd.read_csv('data/서울특별시 노선별 지하철역 정보(신규).csv', encoding='cp949')
print(data.shape)
data.head()

(730, 5)

  전철역코드 전철역명         전철명명(영문)    호선 외부코드
0  2622   망원          Mangwon  06호선  621
1  2623   합정         Hapjeong  06호선  622
2  2624   상수           Sangsu  06호선  623
3  2625  광흥창  Gwangheungchang  06호선  624
4  2626   대흥         Daeheung  06호선  625

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   전철역코드     730 non-null    object
 1   전철역명      730 non-null    object
 2   전철명명(영문)  730 non-null    object
 3   호선        730 non-null    object
 4   외부코드      729 non-null    object
dtypes: object(5)
memory usage: 28.6+ KB

In [4]:
data['전철역명'].unique()

array(['망원', '합정', '상수', '광흥창', '대흥', '버티고개', '약수', '청구', '신당', '군자',
       '강남구청', '학동', '종로3가', '둔촌동', '올림픽공원', '미사', '하남풍산', '응암', '역촌',
       '불광', '독바위', '연신내', '구산', '새절', '증산', '디지털미디어시티', '월드컵경기장', '마포구청',
       '논현', '반포', '고속터미널', '양재', '매봉', '도곡', '대치', '학여울', '대청', '일원',
       '수서', '남태령', '방화', '개화산', '김포공항', '송정', '마곡', '애오개', '서대문', '광화문',
       '내방', '강변', '잠실나루', '잠실', '잠실새내', '동대입구', '금호', '옥수', '압구정', '신사',
       '잠원', '교대', '남부터미널', '이수', '까치울', '부천종합운동장', '춘의', '금정', '부평구청',
       '암사', '천호', '강동구청', '석촌고분', '종합운동장', '삼성', '선릉', '역삼', '강남', '경복궁',
       '안국', '을지로3가', '공덕', '효창공원앞', '석촌', '송파나루', '한성백제', '둔촌오륜', '방배',
       '사당', '낙성대', '서울대입구', '봉천', '신림', '신대방', '구로디지털단지', '신도림', '문래',
       '영등포구청', '삼각지', '녹사평', '이태원', '한강진', '용답', '신정네거리', '지축', '구파발',
       '녹번', '홍제', '무악재', '독립문', '동묘앞', '창신', '사가정', '용마산', '중곡', '녹양',
       '어린이대공원', '을지로입구', '을지로4가', '동대문역사문화공원', '한양대', '뚝섬', '성수', '건대입구',
       '구의', '당산', '홍대입구', '신촌', '이대', '아현', '충정로', '남성', '숭실대입구', '상도',
       '장승배기', '신대방삼거리', '보라매', '신풍', '대림', '남구로', '가산디지털단지', '철산',
       '광명사거리', '천왕', '온수', '가락시장', '경찰병원', '오금', '당고개', '상계', '노원', '창동',
       '쌍문', '수유', '미아', '미아사거리', '길음', '성신여대입구', '한성대입구', '혜화', '동대문',
       '왕십리', '신답', '보문', '안암', '고려대', '월곡', '상월곡', '돌곶이', '석계', '태릉입구',
       '화랑대', '봉화산', '장암', '중화', '상봉', '면목', '발산', '우장산', '화곡', '까치산',
       '신정', '목동', '오목교', '양평', '영등포시장', '신길', '여의도', '여의나루', '마포', '신금호',
       '행당', '마장', '답십리', '장한평', '아차산', '광나루', '강동', '길동', '굽은다리', '명일',
       '고덕', '상일동', '검단사거리', '방이', '개롱', '거여', '마천', '몽촌토성', '신흥', '수진',
       '모란', '선정릉', '삼성중앙', '봉은사', '삼전', '인천대공원', '중앙보훈병원', '뚝섬유원지', '청담',
       '충무로', '명동', '회현', '서울역', '숙대입구', '신용산', '동작', '총신대입구', '남영', '용산',
       '노량진', '대방', '영등포', '이촌', '서빙고', '청량리', '회기', '외대앞', '신이문', '광운대',
       '월계', '녹천', '한티', '구룡', '개포동', '대모산입구', '복정', '중랑', '망우', '양원',
       '구리', '도농', '양정', '덕소', '도심', '팔당', '운길산', '양수', '신원', '응봉', '국수',
       '아신', '오빈', '원덕', '용문', '지평', '수색', '화전', '강매', '행신', '능곡', '곡산',
       '풍산', '일산', '탄현', '운정', '금릉', '월롱', '파주', '문산', '임진강', '신내', '갈매',
       '별내', '퇴계원', '사릉', '평내호평', '마석', '대성리', '청평', '상천', '가평', '굴봉산',
       '백양리', '강촌', '김유정', '남춘천', '서강대', '백마', '야당', '금촌', '금곡', '천마산',
       '봉명', '쌍용', '아산', '배방', '온양온천', '신창', '경마공원', '대공원', '과천',
       '정부과천청사', '인덕원', '평촌', '범계', '삼동', '경기광주', '초월', '곤지암', '신둔도예촌',
       '이천', '부발', '여주', '구로', '금천구청', '관악', '안양', '명학', '의왕', '성균관대',
       '춘천', '선바위', '석수', '화서', '수원', '독산', '세류', '병점', '세마', '오산대', '송탄',
       '서정리', '평택', '성환', '직산', '두정', '천안', '광명', '산본', '대야미', '반월',
       '상록수', '한대앞', '중앙', '고잔', '초지', '안산', '신길온천', '정왕', '오이도', '수리산',
       '개봉', '오류동', '역곡', '군포', '당정', '서동탄', '부천', '송내', '부평', '백운', '주안',
       '제물포', '동인천', '인천', '구일', '소사', '부개', '간석', '도원', '중동', '서울숲',
       '압구정로데오', '가천대', '태평', '야탑', '서현', '수내', '정자', '미금', '이매', '신갈',
       '상갈', '청명', '영통', '망포', '매탄권선', '수원시청', '매교', '달월', '월곶', '세종대왕릉',
       '오산', '진위', '동암', '도화', '구성', '소래포구', '인천논현', '호구포', '남동인더스파크',
       '원인재', '연수', '송도', '인하대', '숭의', '방학', '도봉', '도봉산', '망월사', '회룡',
       '의정부', '가능', '양주', '덕계', '덕정', '지행', '동두천중앙', '동두천', '원당', '대곡',
       '백석', '마두', '정발산', '주엽', '대화', '보정', '보산', '원흥', '삼송', '수락산', '마들',
       '중계', '하계', '공릉', '먹골', '신중동', '부천시청', '상동', '삼산체육관', '굴포천', '계양',
       '귤현', '박촌', '임학', '계산', '경인교대입구', '작전', '갈산', '부평시장', '동수',
       '부평삼거리', '인천시청', '예술회관', '인천터미널', '문학경기장', '선학', '신연수', '동춘', '동막',
       '캠퍼스타운', '테크노파크', '지식정보단지', '인천대입구', '센트럴파크', '국제업무지구', '마전', '독정',
       '검바위', '서구청', '가정', '인천가좌', '가재울', '주안국가산단', '석천사거리', '모래내시장',
       '만수', '운연', '검암', '가정중앙시장', '석남', '서부여성회관', '시민공원', '석바위시장', '개화',
       '공항시장', '신방화', '마곡나루', '양천향교', '증미', '등촌', '선유도', '샛강', '흑석',
       '구반포', '신반포', '신논현', '동천', '수지구청', '성복', '상현', '광교중앙', '왕길', '완정',
       '염창', '신목동', '국회의사당', '노들', '사평', '동오', '새말', '경기도청북부청사', '효자',
       '가양', '청라국제도시', '운서', '양재시민의숲', '판교', '광교', '범골', '경전철의정부',
       '의정부시청', '흥선', '의정부중앙', '곤제', '어룡', '공항화물청사', '인천공항1터미널',
       '인천공항2터미널', '영종', '강남대', '지석', '어정', '동백', '초당', '시청.용인대', '명지대',
       '김량장', '운동장.송담대', '고진', '보평', '둔전', '발곡', '송산', '탑석', '북한산우이',
       '솔밭공원', '4?19민주묘지', '가오리', '삼양사거리', '솔샘', '북한산보국문', '정릉', '시청',
       '송파', '문정', '장지', '산성', '남한산성입구', '단대오거리', '오리', '간석오거리', '종로5가',
       '신설동', '제기동', '죽전', '청계산입구', '소새울', '시흥대야', '신천', '신현', '시흥시청',
       '시흥능곡', '달미', '선부', '원곡', '원시', '양촌', '구래', '마산', '장기', '운양',
       '걸포북변', '사우', '풍무', '고촌', '서초', '소요산', '남동구청', '신포', '상왕십리', '삼가',
       '한남', '지제', '전대.에버랜드', '아시아드경기장', '도림천', '양천구청', '용두', '기흥',
       '검단오류', '화정', '언주', '종각', '화계', '삼양', '가좌'], dtype=object)

- 서울역 -> 서울로 변경
- 4?19민주묘지 -> 4.19민주묘지로 변경

In [5]:
# 정규표현식으로 전철역명 변경
data['전철역명'] = data['전철역명'].apply(lambda x : re.sub('[역$]','',x))
data['전철역명'] = data['전철역명'].apply(lambda x : re.sub('[?]','.',x))

In [6]:
data[data['전철역명']=='서울']

    전철역코드 전철역명       전철명명(영문)    호선  외부코드
241  0426   서울  Seoul Station  04호선   426
297  1251   서울  Seoul Station   경의선  P313
599  4201   서울  Seoul Station  공항철도   A01
723  0150   서울  Seoul Station  01호선   133

In [7]:
data[data['전철역명']=='4.19민주묘지']

    전철역코드      전철역명                      전철명명(영문)       호선 외부코드
640  4703  4.19민주묘지  April 19th National Cemetery  우이신설경전철  943

In [8]:
data['호선'].unique()

array(['06호선', '07호선', '05호선', '03호선', '04호선', '02호선', '08호선', '09호선',
       '01호선', '인천2호선', '경의선', '분당선', '경춘선', '경강선', '수인선', '인천선', '공항철도',
       '신분당선', '의정부경전철', '용인경전철', '우이신설경전철', '서해선', '김포도시철도'],
      dtype=object)

In [9]:
# 주소 검색이 용이하도록 전철역명, 호선 변경
data['전철역명'] = data['전철역명'].apply(lambda x : x + '역')
data['호선'] = data['호선'].apply(lambda x : x.replace('0',''))
data.head()

  전철역코드  전철역명         전철명명(영문)   호선 외부코드
0  2622   망원역          Mangwon  6호선  621
1  2623   합정역         Hapjeong  6호선  622
2  2624   상수역           Sangsu  6호선  623
3  2625  광흥창역  Gwangheungchang  6호선  624
4  2626   대흥역         Daeheung  6호선  625

In [10]:
# 주소 검색용 컬럼 생성
data['검색키워드'] = data['전철역명'] + ' ' + data['호선']
data.head()

  전철역코드  전철역명         전철명명(영문)   호선 외부코드     검색키워드
0  2622   망원역          Mangwon  6호선  621   망원역 6호선
1  2623   합정역         Hapjeong  6호선  622   합정역 6호선
2  2624   상수역           Sangsu  6호선  623   상수역 6호선
3  2625  광흥창역  Gwangheungchang  6호선  624  광흥창역 6호선
4  2626   대흥역         Daeheung  6호선  625   대흥역 6호선

## 1. 주소 가져올 검색 리스트 생성

In [11]:
len(data['검색키워드'])

730

In [12]:
search_list = data['검색키워드'].tolist()
search_list

['망원역 6호선',
 '합정역 6호선',
 '상수역 6호선',
 '광흥창역 6호선',
 '대흥역 6호선',
 '버티고개역 6호선',
 '약수역 6호선',
 '청구역 6호선',
 '신당역 6호선',
 '군자역 7호선',
 '강남구청역 7호선',
 '학동역 7호선',
 '종로3가역 5호선',
 '둔촌동역 5호선',
 '올림픽공원역 5호선',
 '미사역 5호선',
 '하남풍산역 5호선',
 '응암역 6호선',
 '촌역 6호선',
 '불광역 6호선',
 '독바위역 6호선',
 '연신내역 6호선',
 '구산역 6호선',
 '새절역 6호선',
 '증산역 6호선',
 '디지털미디어시티역 6호선',
 '월드컵경기장역 6호선',
 '마포구청역 6호선',
 '논현역 7호선',
 '반포역 7호선',
 '고속터미널역 7호선',
 '양재역 3호선',
 '매봉역 3호선',
 '도곡역 3호선',
 '대치역 3호선',
 '학여울역 3호선',
 '대청역 3호선',
 '일원역 3호선',
 '수서역 3호선',
 '남태령역 4호선',
 '방화역 5호선',
 '개화산역 5호선',
 '김포공항역 5호선',
 '송정역 5호선',
 '마곡역 5호선',
 '애오개역 5호선',
 '서대문역 5호선',
 '광화문역 5호선',
 '내방역 7호선',
 '강변역 2호선',
 '잠실나루역 2호선',
 '잠실역 2호선',
 '잠실새내역 2호선',
 '동대입구역 3호선',
 '금호역 3호선',
 '옥수역 3호선',
 '압구정역 3호선',
 '신사역 3호선',
 '잠원역 3호선',
 '고속터미널역 3호선',
 '교대역 3호선',
 '남부터미널역 3호선',
 '이수역 7호선',
 '까치울역 7호선',
 '부천종합운동장역 7호선',
 '춘의역 7호선',
 '금정역 4호선',
 '부평구청역 7호선',
 '암사역 8호선',
 '천호역 8호선',
 '강동구청역 8호선',
 '석촌고분역 9호선',
 '종합운동장역 2호선',
 '삼성역 2호선',
 '선릉역 2호선',
 '삼역 2호선',
 '강남역 2호선',
 '교대역 2호선',
 '경복궁역 3호선',
 '안국역 3호선',
 '종로3가역 3호선',
 '을지로3가역 3호선',
 '공덕역 6호선',
 '효창공원앞역 6호선',
 '석촌역 9호선',
 '송파나루역 9호선',
 '한성백제역 9호선',
 '올림픽공원역 9호선',
 '둔촌오륜역 9호선',
 '방배역 2호선',
 '사당역 2호선',
 '낙성대역 2호선',
 '서울대입구역 2호선',
 '봉천역 2호선',
 '신림역 2호선',
 '신대방역 2호선',
 '구로디지털단지역 2호선',
 '신도림역 2호선',
 '문래역 2호선',
 '영등포구청역 2호선',
 '삼각지역 6호선',
 '녹사평역 6호선',
 '이태원역 6호선',
 '한강진역 6호선',
 '용답역 2호선',
 '신정네거리역 2호선',
 '지축역 3호선',
 '구파발역 3호선',
 '연신내역 3호선',
 '불광역 3호선',
 '녹번역 3호선',
 '홍제역 3호선',
 '무악재역 3호선',
 '독립문역 3호선',
 '동묘앞역 6호선',
 '창신역 6호선',
 '사가정역 7호선',
 '용마산역 7호선',
 '중곡역 7호선',
 '녹양역 1호선',
 '어린이대공원역 7호선',
 '을지로입구역 2호선',
 '을지로3가역 2호선',
 '을지로4가역 2호선',
 '동대문사문화공원역 2호선',
 '신당역 2호선',
 '한양대역 2호선',
 '뚝섬역 2호선',
 '성수역 2호선',
 '건대입구역 2호선',
 '구의역 2호선',
 '당산역 2호선',
 '합정역 2호선',
 '홍대입구역 2호선',
 '신촌역 2호선',
 '이대역 2호선',
 '아현역 2호선',
 '충정로역 2호선',
 '충정로역 5호선',
 '남성역 7호선',
 '숭실대입구역 7호선',
 '상도역 7호선',
 '장승배기역 7호선',
 '신대방삼거리역 7호선',
 '보라매역 7호선',
 '신풍역 7호선',
 '대림역 7호선',
 '남구로역 7호선',
 '가산디지털단지역 7호선',
 '철산역 7호선',
 '광명사거리역 7호선',
 '천왕역 7호선',
 '온수역 7호선',
 '가락시장역 3호선',
 '경찰병원역 3호선',
 '오금역 3호선',
 '당고개역 4호선',
 '상계역 4호선',
 '노원역 4호선',
 '창동역 4호선',
 '쌍문역 4호선',
 '수유역 4호선',
 '미아역 4호선',
 '미아사거리역 4호선',
 '길음역 4호선',
 '성신여대입구역 4호선',
 '한성대입구역 4호선',
 '혜화역 4호선',
 '동대문역 4호선',
 '동대문사문화공원역 4호선',
 '왕십리역 5호선',
 '신답역 2호선',
 '보문역 6호선',
 '안암역 6호선',
 '고려대역 6호선',
 '월곡역 6호선',
 '상월곡역 6호선',
 '돌곶이역 6호선',
 '석계역 6호선',
 '태릉입구역 6호선',
 '화랑대역 6호선',
 '봉화산역 6호선',
 '장암역 7호선',
 '중화역 7호선',
 '상봉역 7호선',
 '면목역 7호선',
 '발산역 5호선',
 '우장산역 5호선',
 '화곡역 5호선',
 '까치산역 5호선',
 '신정역 5호선',
 '목동역 5호선',
 '오목교역 5호선',
 '양평역 5호선',
 '영등포구청역 5호선',
 '영등포시장역 5호선',
 '신길역 5호선',
 '여의도역 5호선',
 '여의나루역 5호선',
 '마포역 5호선',
 '공덕역 5호선',
 '을지로4가역 5호선',
 '신금호역 5호선',
 '행당역 5호선',
 '마장역 5호선',
 '답십리역 5호선',
 '장한평역 5호선',
 '군자역 5호선',
 '아차산역 5호선',
 '광나루역 5호선',
 '천호역 5호선',
 '강동역 5호선',
 '길동역 5호선',
 '굽은다리역 5호선',
 '명일역 5호선',
 '고덕역 5호선',
 '상일동역 5호선',
 '검단사거리역 인천2호선',
 '방이역 5호선',
 '오금역 5호선',
 '개롱역 5호선',
 '거여역 5호선',
 '마천역 5호선',
 '몽촌토성역 8호선',
 '잠실역 8호선',
 '신흥역 8호선',
 '수진역 8호선',
 '모란역 8호선',
 '선정릉역 9호선',
 '삼성중앙역 9호선',
 '봉은사역 9호선',
 '종합운동장역 9호선',
 '삼전역 9호선',
 '인천대공원역 인천2호선',
 '중앙보훈병원역 9호선',
 '건대입구역 7호선',
 '뚝섬유원지역 7호선',
 '청담역 7호선',
 '충무로역 4호선',
 '명동역 4호선',
 '회현역 4호선',
 '서울역 4호선',
 '숙대입구역 4호선',
 '삼각지역 4호선',
 '신용산역 4호선',
 '동작역 4호선',
 '총신대입구역 4호선',
 '사당역 4호선',
 '남영역 1호선',
 '용산역 1호선',
 '노량진역 1호선',
 '대방역 1호선',
 '영등포역 1호선',
 '신도림역 1호선',
 '이촌역 경의선',
 '서빙고역 경의선',
 '옥수역 경의선',
 '왕십리역 경의선',
 '청량리역 경의선',
 '회기역 1호선',
 '외대앞역 1호선',
 '신이문역 1호선',
 '광운대역 1호선',
 '월계역 1호선',
 '녹천역 1호선',
 '창동역 1호선',
 '선릉역 분당선',
 '한티역 분당선',
 '도곡역 분당선',
 '구룡역 분당선',
 '개포동역 분당선',
 '대모산입구역 분당선',
 '왕십리역 분당선',
 '수서역 분당선',
 '복정역 분당선',
 '신길역 1호선',
 '중랑역 경의선',
 '상봉역 경의선',
 '망우역 경의선',
 '양원역 경의선',
 '구리역 경의선',
 '도농역 경의선',
 '양정역 경의선',
 '덕소역 경의선',
 '도심역 경의선',
 '팔당역 경의선',
 '운길산역 경의선',
 '양수역 경의선',
 '신원역 경의선',
 '응봉역 경의선',
 '국수역 경의선',
 '아신역 경의선',
 '오빈역 경의선',
 '양평역 경의선',
 '원덕역 경의선',
 '용문역 경의선',
 '지평역 경의선',
 '서울역 경의선',
 '신촌역 경의선',
 '효창공원앞역 경의선',
 '공덕역 경의선',
 '홍대입구역 경의선',
 '수색역 경의선',
 '화전역 경의선',
 '강매역 경의선',
 '행신역 경의선',
 '능곡역 경의선',
 '곡산역 경의선',
 '풍산역 경의선',
 '일산역 경의선',
 '탄현역 경의선',
 '운정역 경의선',
 '금릉역 경의선',
 '월롱역 경의선',
 '파주역 경의선',
 '문산역 경의선',
 '임진강역 경의선',
 '광운대역 경춘선',
 '청량리역 경춘선',
 '회기역 경춘선',
 '상봉역 경춘선',
 '망우역 경춘선',
 '신내역 경춘선',
 '갈매역 경춘선',
 '별내역 경춘선',
 '퇴계원역 경춘선',
 '사릉역 경춘선',
 '평내호평역 경춘선',
 '마석역 경춘선',
 '대성리역 경춘선',
 '청평역 경춘선',
 '상천역 경춘선',
 '가평역 경춘선',
 '굴봉산역 경춘선',
 '백양리역 경춘선',
 '강촌역 경춘선',
 '김유정역 경춘선',
 '남춘천역 경춘선',
 '석계역 1호선',
 '서강대역 경의선',
 '백마역 경의선',
 '야당역 경의선',
 '금촌역 경의선',
 '금곡역 경춘선',
 '천마산역 경춘선',
 '봉명역 1호선',
 '쌍용역 1호선',
 '아산역 1호선',
 '배방역 1호선',
 '온양온천역 1호선',
 '신창역 1호선',
 '경마공원역 4호선',
 '대공원역 4호선',
 '과천역 4호선',
 '정부과천청사역 4호선',
 '인덕원역 4호선',
 '평촌역 4호선',
 '범계역 4호선',
 '삼동역 경강선',
 '경기광주역 경강선',
 '초월역 경강선',
 '곤지암역 경강선',
 '신둔도예촌역 경강선',
 '이천역 경강선',
 '부발역 경강선',
 '여주역 경강선',
 '구로역 1호선',
 '가산디지털단지역 1호선',
 '금천구청역 1호선',
 '관악역 1호선',
 '안양역 1호선',
 '명학역 1호선',
 '금정역 1호선',
 '의왕역 1호선',
 '성균관대역 1호선',
 '디지털미디어시티역 경의선',
 '춘천역 경춘선',
 '선바위역 4호선',
 '석수역 1호선',
 '화서역 1호선',
 '수원역 1호선',
 '독산역 1호선',
 '세류역 1호선',
 '병점역 1호선',
 '세마역 1호선',
 '오산대역 1호선',
 '송탄역 1호선',
 '서정리역 1호선',
 '평택역 1호선',
 '성환역 1호선',
 '직산역 1호선',
 '두정역 1호선',
 '천안역 1호선',
 '광명역 1호선',
 '산본역 4호선',
 '대야미역 4호선',
 '반월역 4호선',
 '상록수역 4호선',
 '한대앞역 4호선',
 '중앙역 4호선',
 '고잔역 4호선',
 '초지역 4호선',
 '안산역 4호선',
 '신길온천역 4호선',
 '정왕역 4호선',
 '오이도역 4호선',
 '수리산역 4호선',
 '오이도역 수인선',
 '개봉역 1호선',
 '오류동역 1호선',
 '곡역 1호선',
 '군포역 1호선',
 '당정역 1호선',
 '서동탄역 1호선',
 '부천역 1호선',
 '송내역 1호선',
 '부평역 1호선',
 '백운역 1호선',
 '주안역 1호선',
 '제물포역 1호선',
 '동인천역 1호선',
 '인천역 1호선',
 '구일역 1호선',
 '소사역 1호선',
 '부개역 1호선',
 '간석역 1호선',
 '도원역 1호선',
 '온수역 1호선',
 '중동역 1호선',
 '서울숲역 분당선',
 '압구정로데오역 분당선',
 '강남구청역 분당선',
 '선정릉역 분당선',
 '가천대역 분당선',
 '태평역 분당선',
 '모란역 분당선',
 '야탑역 분당선',
 '서현역 분당선',
 '수내역 분당선',
 '정자역 분당선',
 '미금역 분당선',
 '이매역 분당선',
 '신갈역 분당선',
 '상갈역 분당선',
 '청명역 분당선',
 '영통역 분당선',
 '망포역 분당선',
 '매탄권선역 분당선',
 '수원시청역 분당선',
 '매교역 분당선',
 '달월역 수인선',
 '월곶역 수인선',
 '세종대왕릉역 경강선',
 '오산역 1호선',
 '진위역 1호선',
 '동암역 1호선',
 '도화역 1호선',
 '구성역 분당선',
 '소래포구역 수인선',
 '인천논현역 수인선',
 '호구포역 수인선',
 '남동인더스파크역 수인선',
 '원인재역 수인선',
 '연수역 수인선',
 '송도역 수인선',
 '인하대역 수인선',
 '숭의역 수인선',
 '인천역 수인선',
 '방학역 1호선',
 '도봉역 1호선',
 '도봉산역 1호선',
 '망월사역 1호선',
 '회룡역 1호선',
 '의정부역 1호선',
 '가능역 1호선',
 '양주역 1호선',
 '덕계역 1호선',
 '덕정역 1호선',
 '지행역 1호선',
 '동두천중앙역 1호선',
 '동두천역 1호선',
 '원당역 3호선',
 '대곡역 3호선',
 '백석역 3호선',
 '마두역 3호선',
 '정발산역 3호선',
 '주엽역 3호선',
 '대화역 3호선',
 '청량리역 분당선',
 '보정역 분당선',
 '보산역 1호선',
 '동대문사문화공원역 5호선',
 '청구역 5호선',
 '원흥역 3호선',
 '삼송역 3호선',
 '도봉산역 7호선',
 '수락산역 7호선',
 '마들역 7호선',
 '노원역 7호선',
 '중계역 7호선',
 '하계역 7호선',
 '공릉역 7호선',
 '태릉입구역 7호선',
 '먹골역 7호선',
 '신중동역 7호선',
 '부천시청역 7호선',
 '상동역 7호선',
 '삼산체육관역 7호선',
 '굴포천역 7호선',
 '계양역 인천선',
 '귤현역 인천선',
 '박촌역 인천선',
 '임학역 인천선',
 '계산역 인천선',
 '경인교대입구역 인천선',
 '작전역 인천선',
 '갈산역 인천선',
 '부평구청역 인천선',
 '부평시장역 인천선',
 '부평역 인천선',
 '동수역 인천선',
 '부평삼거리역 인천선',
 '인천시청역 인천선',
 '예술회관역 인천선',
 '인천터미널역 인천선',
 '문학경기장역 인천선',
 '선학역 인천선',
 '신연수역 인천선',
 '원인재역 인천선',
 '동춘역 인천선',
 '동막역 인천선',
 '캠퍼스타운역 인천선',
 '테크노파크역 인천선',
 '지식정보단지역 인천선',
 '인천대입구역 인천선',
 '센트럴파크역 인천선',
 '국제업무지구역 인천선',
 '마전역 인천2호선',
 '독정역 인천2호선',
 '검바위역 인천2호선',
 '서구청역 인천2호선',
 '가정역 인천2호선',
 '인천가좌역 인천2호선',
 '가재울역 인천2호선',
 '주안국가산단역 인천2호선',
 '인천시청역 인천2호선',
 '석천사거리역 인천2호선',
 '모래내시장역 인천2호선',
 '만수역 인천2호선',
 '운연역 인천2호선',
 '검암역 인천2호선',
 '가정중앙시장역 인천2호선',
 '석남역 인천2호선',
 '서부여성회관역 인천2호선',
 '주안역 인천2호선',
 '시민공원역 인천2호선',
 '석바위시장역 인천2호선',
 '개화역 9호선',
 '김포공항역 9호선',
 '공항시장역 9호선',
 '신방화역 9호선',
 '마곡나루역 9호선',
 '양천향교역 9호선',
 '증미역 9호선',
 '등촌역 9호선',
 '선유도역 9호선',
 '샛강역 9호선',
 '노량진역 9호선',
 '흑석역 9호선',
 '구반포역 9호선',
 '신반포역 9호선',
 '신논현역 9호선',
 '김포공항역 공항철도',
 '계양역 공항철도',
 '동천역 신분당선',
 '수지구청역 신분당선',
 '성복역 신분당선',
 '상현역 신분당선',
 '광교중앙역 신분당선',
 '왕길역 인천2호선',
 '완정역 인천2호선',
 '염창역 9호선',
 '신목동역 9호선',
 '당산역 9호선',
 '국회의사당역 9호선',
 '여의도역 9호선',
 '노들역 9호선',
 '동작역 9호선',
 '고속터미널역 9호선',
 '사평역 9호선',
 '마곡나루역 공항철도',
 '검암역 공항철도',
 '정자역 신분당선',
 '미금역 신분당선',
 '동오역 의정부경전철',
 '새말역 의정부경전철',
 '경기도청북부청사역 의정부경전철',
 '효자역 의정부경전철',
 '가양역 9호선',
 '서울역 공항철도',
 '공덕역 공항철도',
 '홍대입구역 공항철도',
 '디지털미디어시티역 공항철도',
 '청라국제도시역 공항철도',
 '운서역 공항철도',
 '양재시민의숲역 신분당선',
 '판교역 신분당선',
 '광교역 신분당선',
 '회룡역 의정부경전철',
 '범골역 의정부경전철',
 '경전철의정부역 의정부경전철',
 '의정부시청역 의정부경전철',
 '흥선역 의정부경전철',
 '의정부중앙역 의정부경전철',
 '곤제역 의정부경전철',
 '어룡역 의정부경전철',
 '공항화물청사역 공항철도',
 '인천공항1터미널역 공항철도',
 '인천공항2터미널역 공항철도',
 '영종역 공항철도',
 '강남역 신분당선',
 '양재역 신분당선',
 '강남대역 용인경전철',
 '지석역 용인경전철',
 '어정역 용인경전철',
 '동백역 용인경전철',
 '초당역 용인경전철',
 '시청.용인대역 용인경전철',
 '명지대역 용인경전철',
 '김량장역 용인경전철',
 '운동장.송담대역 용인경전철',
 '고진역 용인경전철',
 '보평역 용인경전철',
 '둔전역 용인경전철',
 '발곡역 의정부경전철',
 '송산역 의정부경전철',
 '탑석역 의정부경전철',
 '북한산우이역 우이신설경전철',
 '약수역 3호선',
 '솔밭공원역 우이신설경전철',
 '4.19민주묘지역 우이신설경전철',
 '가오리역 우이신설경전철',
 '삼양사거리역 우이신설경전철',
 '솔샘역 우이신설경전철',
 '북한산보국문역 우이신설경전철',
 '정릉역 우이신설경전철',
 '성신여대입구역 우이신설경전철',
 '보문역 우이신설경전철',
 '까치산역 2호선',
 '시청역 2호선',
 '이촌역 4호선',
 '석촌역 8호선',
 '송파역 8호선',
 '가락시장역 8호선',
 '문정역 8호선',
 '장지역 8호선',
 '복정역 8호선',
 '산성역 8호선',
 '남한산성입구역 8호선',
 '단대오거리역 8호선',
 '오리역 분당선',
 '간석오거리역 인천선',
 '종로3가역 1호선',
 '종로5가역 1호선',
 '동대문역 1호선',
 '신설동역 1호선',
 '제기동역 1호선',
 '청량리역 1호선',
 '동묘앞역 1호선',
 '대곡역 경의선',
 '충무로역 3호선',
 '죽전역 분당선',
 '청계산입구역 신분당선',
 '신설동역 우이신설경전철',
 '소사역 서해선',
 '소새울역 서해선',
 '시흥대야역 서해선',
 '신천역 서해선',
 '신현역 서해선',
 '시흥시청역 서해선',
 '시흥능곡역 서해선',
 '달미역 서해선',
 '선부역 서해선',
 '초지역 서해선',
 '원곡역 서해선',
 '원시역 서해선',
 '양촌역 김포도시철도',
 '구래역 김포도시철도',
 '마산역 김포도시철도',
 '장기역 김포도시철도',
 '운양역 김포도시철도',
 '걸포북변역 김포도시철도',
 '사우역 김포도시철도',
 '풍무역 김포도시철도',
 '고촌역 김포도시철도',
 '김포공항역 김포도시철도',
 '서초역 2호선',
 '이매역 경강선',
 '소요산역 1호선',
 '남동구청역 인천2호선',
 '왕십리역 2호선',
 '판교역 경강선',
 '신포역 수인선',
 '신내역 6호선',
 '상왕십리역 2호선',
 '삼가역 용인경전철',
 '한남역 경의선',
 '지제역 1호선',
 '전대.에버랜드역 용인경전철',
 '대림역 2호선',
 '아시아드경기장역 인천2호선',
 '신설동역 2호선',
 '도림천역 2호선',
 '양천구청역 2호선',
 '용두역 2호선',
 '중랑역 경춘선',
 '기흥역 분당선',
 '검단오류역 인천2호선',
 '용산역 경의선',
 '수원역 분당선',
 '화정역 3호선',
 '언주역 9호선',
 '기흥역 용인경전철',
 '서울역 1호선',
 '시청역 1호선',
 '종각역 1호선',
 '화계역 우이신설경전철',
 '삼양역 우이신설경전철',
 '회기역 경의선',
 '가좌역 경의선']

## 2. 카카오 API 활용 - 주소 검색

In [55]:
# 주소 검색 함수 정의
def address_search(address):
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?&query=" + address + "&category_group_code=SW8"
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK *****"})
    json_obj = result.json()
    global val   # 전역 변수를 지역 범위에서 사용하고 싶을 경우
    for document in json_obj['documents']:
        # 값이 NoneType 일 경우의 오류 방지
        try:
            val = [document['road_address_name']]
        except:
            val = [0]
    return val

In [56]:
address_search('서울역 공항철도')   # 서울역 경의선 제외 모두 이상 -> 추후 변경 예정

['서울 강서구 마곡중앙로 지하 135']

In [57]:
address_search('서울역 4호선')

['서울 강북구 도봉로 지하 50']

In [58]:
address_search('서울역 경의선')

['서울 중구 통일로 1']

In [59]:
address_search('서울역 1호선')

['경기 화성시 떡전골로 97']

In [63]:
# 주소 검색 함수 반복 적용
list1 = []
for i in search_list:
    list1.append(address_search(i))

In [64]:
data2 = pd.DataFrame(list1, columns=['주소'])
data2.head()

                  주소
0  서울 마포구 월드컵로 지하 77
1   서울 마포구 양화로 지하 55
2   서울 마포구 독막로 지하 85
3  서울 마포구 독막로 지하 165
4   서울 마포구 대흥로 지하 85

In [65]:
data3 = pd.concat([data, data2], axis=1)
print(data3.shape)
data3.head()

(730, 7)

  전철역코드  전철역명         전철명명(영문)   호선 외부코드     검색키워드                 주소
0  2622   망원역          Mangwon  6호선  621   망원역 6호선  서울 마포구 월드컵로 지하 77
1  2623   합정역         Hapjeong  6호선  622   합정역 6호선   서울 마포구 양화로 지하 55
2  2624   상수역           Sangsu  6호선  623   상수역 6호선   서울 마포구 독막로 지하 85
3  2625  광흥창역  Gwangheungchang  6호선  624  광흥창역 6호선  서울 마포구 독막로 지하 165
4  2626   대흥역         Daeheung  6호선  625   대흥역 6호선   서울 마포구 대흥로 지하 85

## 3. 서울 지역 제외한 모든 행 제거

In [68]:
data4 = data3[data3['주소'].str.contains('서울') == False]
print(data4.shape)
data4.head()

(345, 7)

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소
15,2563,미사역,Misa,5호선,555,미사역 5호선,경기 하남시 미사강변동로 지하 90
16,2564,하남풍산역,Hanam Pungsan,5호선,556,하남풍산역 5호선,경기 하남시 덕풍서로 지하 50
63,2753,까치울역,Kkachiul,7호선,751,까치울역 7호선,경기 부천시 길주로 지하 626
64,2754,부천종합운동장역,Bucheon Stadium,7호선,752,부천종합운동장역 7호선,경기 부천시 길주로 지하 502
65,2755,춘의역,Chunui,7호선,753,춘의역 7호선,경기 부천시 길주로 지하 502

In [67]:
data4['검색키워드'].unique()

array(['미사역 5호선', '하남풍산역 5호선', '까치울역 7호선', '부천종합운동장역 7호선', '춘의역 7호선',
       '금정역 4호선', '부평구청역 7호선', '지축역 3호선', '녹양역 1호선', '철산역 7호선',
       '광명사거리역 7호선', '장암역 7호선', '검단사거리역 인천2호선', '신흥역 8호선', '수진역 8호선',
       '모란역 8호선', '인천대공원역 인천2호선', '용산역 1호선', '구리역 경의선', '도농역 경의선',
       '양정역 경의선', '덕소역 경의선', '도심역 경의선', '팔당역 경의선', '운길산역 경의선', '양수역 경의선',
       '신원역 경의선', '국수역 경의선', '아신역 경의선', '오빈역 경의선', '양평역 경의선', '원덕역 경의선',
       '용문역 경의선', '지평역 경의선', '화전역 경의선', '강매역 경의선', '행신역 경의선', '능곡역 경의선',
       '곡산역 경의선', '풍산역 경의선', '일산역 경의선', '탄현역 경의선', '운정역 경의선', '금릉역 경의선',
       '월롱역 경의선', '파주역 경의선', '문산역 경의선', '임진강역 경의선', '갈매역 경춘선', '별내역 경춘선',
       '퇴계원역 경춘선', '사릉역 경춘선', '평내호평역 경춘선', '마석역 경춘선', '대성리역 경춘선',
       '청평역 경춘선', '상천역 경춘선', '가평역 경춘선', '굴봉산역 경춘선', '백양리역 경춘선', '강촌역 경춘선',
       '김유정역 경춘선', '남춘천역 경춘선', '백마역 경의선', '야당역 경의선', '금촌역 경의선', '금곡역 경춘선',
       '천마산역 경춘선', '봉명역 1호선', '쌍용역 1호선', '아산역 1호선', '배방역 1호선',
       '온양온천역 1호선', '신창역 1호선', '경마공원역 4호선', '대공원역 4호선', '과천역 4호선',
       '정부과천청사역 4호선', '인덕원역 4호선', '평촌역 4호선', '범계역 4호선', '삼동역 경강선',
       '경기광주역 경강선', '초월역 경강선', '곤지암역 경강선', '신둔도예촌역 경강선', '이천역 경강선',
       '부발역 경강선', '여주역 경강선', '관악역 1호선', '안양역 1호선', '명학역 1호선', '금정역 1호선',
       '의왕역 1호선', '성균관대역 1호선', '춘천역 경춘선', '선바위역 4호선', '석수역 1호선',
       '화서역 1호선', '수원역 1호선', '세류역 1호선', '병점역 1호선', '세마역 1호선', '오산대역 1호선',
       '송탄역 1호선', '서정리역 1호선', '평택역 1호선', '성환역 1호선', '직산역 1호선', '두정역 1호선',
       '천안역 1호선', '광명역 1호선', '산본역 4호선', '대야미역 4호선', '반월역 4호선', '상록수역 4호선',
       '한대앞역 4호선', '중앙역 4호선', '고잔역 4호선', '초지역 4호선', '안산역 4호선',
       '신길온천역 4호선', '정왕역 4호선', '오이도역 4호선', '수리산역 4호선', '오이도역 수인선',
       '오류동역 1호선', '곡역 1호선', '군포역 1호선', '당정역 1호선', '서동탄역 1호선', '부천역 1호선',
       '송내역 1호선', '부평역 1호선', '백운역 1호선', '주안역 1호선', '제물포역 1호선', '동인천역 1호선',
       '인천역 1호선', '소사역 1호선', '부개역 1호선', '간석역 1호선', '도원역 1호선', '중동역 1호선',
       '가천대역 분당선', '태평역 분당선', '모란역 분당선', '야탑역 분당선', '서현역 분당선', '수내역 분당선',
       '정자역 분당선', '미금역 분당선', '이매역 분당선', '신갈역 분당선', '상갈역 분당선', '청명역 분당선',
       '영통역 분당선', '망포역 분당선', '매탄권선역 분당선', '수원시청역 분당선', '매교역 분당선',
       '달월역 수인선', '월곶역 수인선', '세종대왕릉역 경강선', '오산역 1호선', '진위역 1호선',
       '동암역 1호선', '도화역 1호선', '구성역 분당선', '소래포구역 수인선', '인천논현역 수인선',
       '호구포역 수인선', '남동인더스파크역 수인선', '원인재역 수인선', '연수역 수인선', '송도역 수인선',
       '인하대역 수인선', '숭의역 수인선', '인천역 수인선', '망월사역 1호선', '회룡역 1호선',
       '의정부역 1호선', '가능역 1호선', '양주역 1호선', '덕계역 1호선', '덕정역 1호선', '지행역 1호선',
       '동두천중앙역 1호선', '동두천역 1호선', '원당역 3호선', '대곡역 3호선', '백석역 3호선',
       '마두역 3호선', '정발산역 3호선', '주엽역 3호선', '대화역 3호선', '보정역 분당선', '보산역 1호선',
       '동대문사문화공원역 5호선', '원흥역 3호선', '삼송역 3호선', '신중동역 7호선', '부천시청역 7호선',
       '상동역 7호선', '삼산체육관역 7호선', '굴포천역 7호선', '계양역 인천선', '귤현역 인천선',
       '박촌역 인천선', '임학역 인천선', '계산역 인천선', '경인교대입구역 인천선', '작전역 인천선',
       '갈산역 인천선', '부평구청역 인천선', '부평시장역 인천선', '부평역 인천선', '동수역 인천선',
       '부평삼거리역 인천선', '인천시청역 인천선', '예술회관역 인천선', '인천터미널역 인천선', '문학경기장역 인천선',
       '선학역 인천선', '신연수역 인천선', '원인재역 인천선', '동춘역 인천선', '동막역 인천선',
       '캠퍼스타운역 인천선', '테크노파크역 인천선', '지식정보단지역 인천선', '인천대입구역 인천선',
       '센트럴파크역 인천선', '국제업무지구역 인천선', '마전역 인천2호선', '독정역 인천2호선',
       '검바위역 인천2호선', '서구청역 인천2호선', '가정역 인천2호선', '인천가좌역 인천2호선',
       '가재울역 인천2호선', '주안국가산단역 인천2호선', '인천시청역 인천2호선', '석천사거리역 인천2호선',
       '모래내시장역 인천2호선', '만수역 인천2호선', '운연역 인천2호선', '검암역 인천2호선',
       '가정중앙시장역 인천2호선', '석남역 인천2호선', '서부여성회관역 인천2호선', '주안역 인천2호선',
       '시민공원역 인천2호선', '석바위시장역 인천2호선', '계양역 공항철도', '동천역 신분당선',
       '수지구청역 신분당선', '성복역 신분당선', '상현역 신분당선', '광교중앙역 신분당선', '왕길역 인천2호선',
       '완정역 인천2호선', '검암역 공항철도', '정자역 신분당선', '미금역 신분당선', '동오역 의정부경전철',
       '새말역 의정부경전철', '경기도청북부청사역 의정부경전철', '효자역 의정부경전철', '청라국제도시역 공항철도',
       '운서역 공항철도', '판교역 신분당선', '광교역 신분당선', '회룡역 의정부경전철', '범골역 의정부경전철',
       '경전철의정부역 의정부경전철', '의정부시청역 의정부경전철', '흥선역 의정부경전철', '의정부중앙역 의정부경전철',
       '곤제역 의정부경전철', '어룡역 의정부경전철', '공항화물청사역 공항철도', '인천공항1터미널역 공항철도',
       '인천공항2터미널역 공항철도', '영종역 공항철도', '강남대역 용인경전철', '지석역 용인경전철',
       '어정역 용인경전철', '동백역 용인경전철', '초당역 용인경전철', '시청.용인대역 용인경전철',
       '명지대역 용인경전철', '김량장역 용인경전철', '운동장.송담대역 용인경전철', '고진역 용인경전철',
       '보평역 용인경전철', '둔전역 용인경전철', '발곡역 의정부경전철', '송산역 의정부경전철', '탑석역 의정부경전철',
       '시청역 2호선', '산성역 8호선', '남한산성입구역 8호선', '단대오거리역 8호선', '오리역 분당선',
       '간석오거리역 인천선', '대곡역 경의선', '죽전역 분당선', '소사역 서해선', '소새울역 서해선',
       '시흥대야역 서해선', '신천역 서해선', '신현역 서해선', '시흥시청역 서해선', '시흥능곡역 서해선',
       '달미역 서해선', '선부역 서해선', '초지역 서해선', '원곡역 서해선', '원시역 서해선',
       '양촌역 김포도시철도', '구래역 김포도시철도', '마산역 김포도시철도', '장기역 김포도시철도',
       '운양역 김포도시철도', '걸포북변역 김포도시철도', '사우역 김포도시철도', '풍무역 김포도시철도',
       '고촌역 김포도시철도', '이매역 경강선', '소요산역 1호선', '남동구청역 인천2호선', '판교역 경강선',
       '신포역 수인선', '삼가역 용인경전철', '지제역 1호선', '전대.에버랜드역 용인경전철',
       '아시아드경기장역 인천2호선', '기흥역 분당선', '검단오류역 인천2호선', '수원역 분당선', '화정역 3호선',
       '기흥역 용인경전철', '서울역 1호선', '시청역 1호선'], dtype=object)

- 검색이 잘못된 전철역명 : 용산역 1호선, 오류동역 1호선, 동대문사문화공원역 5호선 (오타 있음), 시청역 2호선, 서울역 1호선, 시청역 1호선


- 이름만 잘못된 전철역명 : 곡역 1호선 (역곡역으로 추정)

### 3.1. 서울 이외 지역 잘못된 행 주소 (혹은 전철역명) 변경

In [69]:
data3[data3['검색키워드']=='용산역 1호선']

    전철역코드 전철역명 전철명명(영문)   호선 외부코드    검색키워드            주소
249  1003  용산역  Yongsan  1호선  135  용산역 1호선  광주 동구 녹동길 45

In [72]:
data3.loc[249, '주소'] = '서울 용산구 한강대로23길 55'

In [74]:
data3[data3['검색키워드']=='오류동역 1호선']

    전철역코드  전철역명   전철명명(영문)   호선 외부코드     검색키워드                주소
409  1802  오류동역  Oryu-dong  1호선  144  오류동역 1호선  대전 중구 계룡로 지하 793

In [75]:
data3.loc[409, '주소'] = '서울 구로구 경인로20길 13'

In [77]:
data3[data3['검색키워드']=='동대문사문화공원역 5호선']

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소
491,2537,동대문사문화공원역,Dongdaemun History Culture Park,5호선,536,동대문사문화공원역 5호선,경기 동두천시 평화로 2539

In [78]:
data3.loc[491, '전철역명'] = '동대문역사문화공원역'
data3.loc[491, '검색키워드'] = '동대문역사문화공원역 5호선'
data3.loc[491, '주소'] = '서울 중구 마른내로 지하 162'

In [81]:
data3[data3['검색키워드']=='시청역 2호선']

    전철역코드 전철역명   전철명명(영문)   호선 외부코드    검색키워드                주소
649  0201  시청역  City Hall  2호선  201  시청역 2호선  인천 남동구 구월로 지하 99

In [82]:
data3.loc[649, '주소'] = '서울 중구 서소문로 지하 127'

In [84]:
data3[data3['검색키워드']=='시청역 1호선']

    전철역코드 전철역명   전철명명(영문)   호선 외부코드    검색키워드                주소
724  0151  시청역  City Hall  1호선  132  시청역 1호선  대전 서구 둔산중로 지하 55

In [85]:
data3.loc[724, '주소'] = '서울 중구 세종대로 지하 101'

In [87]:
data3[data3['검색키워드']=='서울역 공항철도']

    전철역코드 전철역명       전철명명(영문)    호선 외부코드     검색키워드                   주소
599  4201  서울역  Seoul Station  공항철도  A01  서울역 공항철도  서울 강서구 마곡중앙로 지하 135

In [88]:
data3.loc[599, '주소'] = '서울 용산구 청파로 378'

In [89]:
data3[data3['검색키워드']=='서울역 4호선']

    전철역코드 전철역명       전철명명(영문)   호선 외부코드    검색키워드                주소
241  0426  서울역  Seoul Station  4호선  426  서울역 4호선  서울 강북구 도봉로 지하 50

In [90]:
data3.loc[241, '주소'] = '서울 용산구 한강대로 지하 392'

In [92]:
data3[data3['검색키워드']=='서울역 1호선']

    전철역코드 전철역명       전철명명(영문)   호선 외부코드    검색키워드              주소
723  0150  서울역  Seoul Station  1호선  133  서울역 1호선  경기 화성시 떡전골로 97

In [93]:
data3.loc[723, '주소'] = '서울 중구 세종대로 지하 2'

In [94]:
data3[data3['검색키워드']=='곡역 1호선']

    전철역코드 전철역명 전철명명(영문)   호선 외부코드   검색키워드                주소
410  1803   곡역  Yeokgok  1호선  146  곡역 1호선  대전 중구 계룡로 지하 793

In [95]:
data3.loc[410, '전철역명'] = '역곡역'
data3.loc[410, '검색키워드'] = '역곡역 1호선'
data3.loc[410, '주소'] = '경기 부천시 역곡로 1'

### 3.2. 서울 이외 지역에 해당하는 행 제거

In [96]:
data5 = data3[data3['주소'].str.contains('서울') == False]
print(data5.shape)
data5.head()

(339, 7)

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소
15,2563,미사역,Misa,5호선,555,미사역 5호선,경기 하남시 미사강변동로 지하 90
16,2564,하남풍산역,Hanam Pungsan,5호선,556,하남풍산역 5호선,경기 하남시 덕풍서로 지하 50
63,2753,까치울역,Kkachiul,7호선,751,까치울역 7호선,경기 부천시 길주로 지하 626
64,2754,부천종합운동장역,Bucheon Stadium,7호선,752,부천종합운동장역 7호선,경기 부천시 길주로 지하 502
65,2755,춘의역,Chunui,7호선,753,춘의역 7호선,경기 부천시 길주로 지하 502

In [99]:
data6 = data3.drop(data5.index, axis=0).reset_index(drop=True)
print(data6.shape)
data6.head()

(391, 7)

  전철역코드  전철역명         전철명명(영문)   호선 외부코드     검색키워드                 주소
0  2622   망원역          Mangwon  6호선  621   망원역 6호선  서울 마포구 월드컵로 지하 77
1  2623   합정역         Hapjeong  6호선  622   합정역 6호선   서울 마포구 양화로 지하 55
2  2624   상수역           Sangsu  6호선  623   상수역 6호선   서울 마포구 독막로 지하 85
3  2625  광흥창역  Gwangheungchang  6호선  624  광흥창역 6호선  서울 마포구 독막로 지하 165
4  2626   대흥역         Daeheung  6호선  625   대흥역 6호선   서울 마포구 대흥로 지하 85

In [100]:
data6['검색키워드'].unique()

array(['망원역 6호선', '합정역 6호선', '상수역 6호선', '광흥창역 6호선', '대흥역 6호선',
       '버티고개역 6호선', '약수역 6호선', '청구역 6호선', '신당역 6호선', '군자역 7호선',
       '강남구청역 7호선', '학동역 7호선', '종로3가역 5호선', '둔촌동역 5호선', '올림픽공원역 5호선',
       '응암역 6호선', '촌역 6호선', '불광역 6호선', '독바위역 6호선', '연신내역 6호선', '구산역 6호선',
       '새절역 6호선', '증산역 6호선', '디지털미디어시티역 6호선', '월드컵경기장역 6호선', '마포구청역 6호선',
       '논현역 7호선', '반포역 7호선', '고속터미널역 7호선', '양재역 3호선', '매봉역 3호선',
       '도곡역 3호선', '대치역 3호선', '학여울역 3호선', '대청역 3호선', '일원역 3호선', '수서역 3호선',
       '남태령역 4호선', '방화역 5호선', '개화산역 5호선', '김포공항역 5호선', '송정역 5호선',
       '마곡역 5호선', '애오개역 5호선', '서대문역 5호선', '광화문역 5호선', '내방역 7호선',
       '강변역 2호선', '잠실나루역 2호선', '잠실역 2호선', '잠실새내역 2호선', '동대입구역 3호선',
       '금호역 3호선', '옥수역 3호선', '압구정역 3호선', '신사역 3호선', '잠원역 3호선',
       '고속터미널역 3호선', '교대역 3호선', '남부터미널역 3호선', '이수역 7호선', '암사역 8호선',
       '천호역 8호선', '강동구청역 8호선', '석촌고분역 9호선', '종합운동장역 2호선', '삼성역 2호선',
       '선릉역 2호선', '삼역 2호선', '강남역 2호선', '교대역 2호선', '경복궁역 3호선', '안국역 3호선',
       '종로3가역 3호선', '을지로3가역 3호선', '공덕역 6호선', '효창공원앞역 6호선', '석촌역 9호선',
       '송파나루역 9호선', '한성백제역 9호선', '올림픽공원역 9호선', '둔촌오륜역 9호선', '방배역 2호선',
       '사당역 2호선', '낙성대역 2호선', '서울대입구역 2호선', '봉천역 2호선', '신림역 2호선',
       '신대방역 2호선', '구로디지털단지역 2호선', '신도림역 2호선', '문래역 2호선', '영등포구청역 2호선',
       '삼각지역 6호선', '녹사평역 6호선', '이태원역 6호선', '한강진역 6호선', '용답역 2호선',
       '신정네거리역 2호선', '구파발역 3호선', '연신내역 3호선', '불광역 3호선', '녹번역 3호선',
       '홍제역 3호선', '무악재역 3호선', '독립문역 3호선', '동묘앞역 6호선', '창신역 6호선',
       '사가정역 7호선', '용마산역 7호선', '중곡역 7호선', '어린이대공원역 7호선', '을지로입구역 2호선',
       '을지로3가역 2호선', '을지로4가역 2호선', '동대문사문화공원역 2호선', '신당역 2호선', '한양대역 2호선',
       '뚝섬역 2호선', '성수역 2호선', '건대입구역 2호선', '구의역 2호선', '당산역 2호선', '합정역 2호선',
       '홍대입구역 2호선', '신촌역 2호선', '이대역 2호선', '아현역 2호선', '충정로역 2호선',
       '충정로역 5호선', '남성역 7호선', '숭실대입구역 7호선', '상도역 7호선', '장승배기역 7호선',
       '신대방삼거리역 7호선', '보라매역 7호선', '신풍역 7호선', '대림역 7호선', '남구로역 7호선',
       '가산디지털단지역 7호선', '천왕역 7호선', '온수역 7호선', '가락시장역 3호선', '경찰병원역 3호선',
       '오금역 3호선', '당고개역 4호선', '상계역 4호선', '노원역 4호선', '창동역 4호선', '쌍문역 4호선',
       '수유역 4호선', '미아역 4호선', '미아사거리역 4호선', '길음역 4호선', '성신여대입구역 4호선',
       '한성대입구역 4호선', '혜화역 4호선', '동대문역 4호선', '동대문사문화공원역 4호선', '왕십리역 5호선',
       '신답역 2호선', '보문역 6호선', '안암역 6호선', '고려대역 6호선', '월곡역 6호선', '상월곡역 6호선',
       '돌곶이역 6호선', '석계역 6호선', '태릉입구역 6호선', '화랑대역 6호선', '봉화산역 6호선',
       '중화역 7호선', '상봉역 7호선', '면목역 7호선', '발산역 5호선', '우장산역 5호선', '화곡역 5호선',
       '까치산역 5호선', '신정역 5호선', '목동역 5호선', '오목교역 5호선', '양평역 5호선',
       '영등포구청역 5호선', '영등포시장역 5호선', '신길역 5호선', '여의도역 5호선', '여의나루역 5호선',
       '마포역 5호선', '공덕역 5호선', '을지로4가역 5호선', '신금호역 5호선', '행당역 5호선',
       '마장역 5호선', '답십리역 5호선', '장한평역 5호선', '군자역 5호선', '아차산역 5호선',
       '광나루역 5호선', '천호역 5호선', '강동역 5호선', '길동역 5호선', '굽은다리역 5호선',
       '명일역 5호선', '고덕역 5호선', '상일동역 5호선', '방이역 5호선', '오금역 5호선', '개롱역 5호선',
       '거여역 5호선', '마천역 5호선', '몽촌토성역 8호선', '잠실역 8호선', '선정릉역 9호선',
       '삼성중앙역 9호선', '봉은사역 9호선', '종합운동장역 9호선', '삼전역 9호선', '중앙보훈병원역 9호선',
       '건대입구역 7호선', '뚝섬유원지역 7호선', '청담역 7호선', '충무로역 4호선', '명동역 4호선',
       '회현역 4호선', '서울역 4호선', '숙대입구역 4호선', '삼각지역 4호선', '신용산역 4호선',
       '동작역 4호선', '총신대입구역 4호선', '사당역 4호선', '남영역 1호선', '용산역 1호선',
       '노량진역 1호선', '대방역 1호선', '영등포역 1호선', '신도림역 1호선', '이촌역 경의선',
       '서빙고역 경의선', '옥수역 경의선', '왕십리역 경의선', '청량리역 경의선', '회기역 1호선',
       '외대앞역 1호선', '신이문역 1호선', '광운대역 1호선', '월계역 1호선', '녹천역 1호선',
       '창동역 1호선', '선릉역 분당선', '한티역 분당선', '도곡역 분당선', '구룡역 분당선', '개포동역 분당선',
       '대모산입구역 분당선', '왕십리역 분당선', '수서역 분당선', '복정역 분당선', '신길역 1호선',
       '중랑역 경의선', '상봉역 경의선', '망우역 경의선', '양원역 경의선', '응봉역 경의선', '서울역 경의선',
       '신촌역 경의선', '효창공원앞역 경의선', '공덕역 경의선', '홍대입구역 경의선', '수색역 경의선',
       '광운대역 경춘선', '청량리역 경춘선', '회기역 경춘선', '상봉역 경춘선', '망우역 경춘선', '신내역 경춘선',
       '석계역 1호선', '서강대역 경의선', '구로역 1호선', '가산디지털단지역 1호선', '금천구청역 1호선',
       '디지털미디어시티역 경의선', '독산역 1호선', '개봉역 1호선', '오류동역 1호선', '구일역 1호선',
       '온수역 1호선', '서울숲역 분당선', '압구정로데오역 분당선', '강남구청역 분당선', '선정릉역 분당선',
       '방학역 1호선', '도봉역 1호선', '도봉산역 1호선', '청량리역 분당선', '동대문역사문화공원역 5호선',
       '청구역 5호선', '도봉산역 7호선', '수락산역 7호선', '마들역 7호선', '노원역 7호선', '중계역 7호선',
       '하계역 7호선', '공릉역 7호선', '태릉입구역 7호선', '먹골역 7호선', '개화역 9호선',
       '김포공항역 9호선', '공항시장역 9호선', '신방화역 9호선', '마곡나루역 9호선', '양천향교역 9호선',
       '증미역 9호선', '등촌역 9호선', '선유도역 9호선', '샛강역 9호선', '노량진역 9호선', '흑석역 9호선',
       '구반포역 9호선', '신반포역 9호선', '신논현역 9호선', '김포공항역 공항철도', '염창역 9호선',
       '신목동역 9호선', '당산역 9호선', '국회의사당역 9호선', '여의도역 9호선', '노들역 9호선',
       '동작역 9호선', '고속터미널역 9호선', '사평역 9호선', '마곡나루역 공항철도', '가양역 9호선',
       '서울역 공항철도', '공덕역 공항철도', '홍대입구역 공항철도', '디지털미디어시티역 공항철도',
       '양재시민의숲역 신분당선', '강남역 신분당선', '양재역 신분당선', '북한산우이역 우이신설경전철',
       '약수역 3호선', '솔밭공원역 우이신설경전철', '4.19민주묘지역 우이신설경전철', '가오리역 우이신설경전철',
       '삼양사거리역 우이신설경전철', '솔샘역 우이신설경전철', '북한산보국문역 우이신설경전철', '정릉역 우이신설경전철',
       '성신여대입구역 우이신설경전철', '보문역 우이신설경전철', '까치산역 2호선', '시청역 2호선', '이촌역 4호선',
       '석촌역 8호선', '송파역 8호선', '가락시장역 8호선', '문정역 8호선', '장지역 8호선', '복정역 8호선',
       '종로3가역 1호선', '종로5가역 1호선', '동대문역 1호선', '신설동역 1호선', '제기동역 1호선',
       '청량리역 1호선', '동묘앞역 1호선', '충무로역 3호선', '청계산입구역 신분당선', '신설동역 우이신설경전철',
       '김포공항역 김포도시철도', '서초역 2호선', '왕십리역 2호선', '신내역 6호선', '상왕십리역 2호선',
       '한남역 경의선', '대림역 2호선', '신설동역 2호선', '도림천역 2호선', '양천구청역 2호선',
       '용두역 2호선', '중랑역 경춘선', '용산역 경의선', '언주역 9호선', '서울역 1호선', '시청역 1호선',
       '종각역 1호선', '화계역 우이신설경전철', '삼양역 우이신설경전철', '회기역 경의선', '가좌역 경의선'],
      dtype=object)

- 이름이 잘못된 전철역명 : 촌역 6호선, 삼역 2호선, 동대문사문화공원역 2호선, 동대문사문화공원역 4호선

### 3.3. 서울 지역 잘못된 행 주소 (혹은 전철역명) 변경

In [103]:
data6[data6['검색키워드']=='촌역 6호선']

   전철역코드 전철역명  전철명명(영문)   호선 외부코드   검색키워드                 주소
16  2612   촌역  Yeokchon  6호선  611  촌역 6호선  서울 은평구 증산로 지하 477

In [104]:
data6.loc[16, '전철역명'] = '역촌역'
data6.loc[16, '검색키워드'] = '역촌역 6호선'
data6.loc[16, '주소'] = '서울 은평구 서오릉로 지하 63'

In [109]:
data6[data6['검색키워드']=='삼역 2호선']

   전철역코드 전철역명 전철명명(영문)   호선 외부코드   검색키워드                  주소
68  0221   삼역  Yeoksam  2호선  221  삼역 2호선  서울 강남구 테헤란로 지하 340

In [110]:
data6.loc[68, '전철역명'] = '역삼역'
data6.loc[68, '검색키워드'] = '역삼역 2호선'
data6.loc[68, '주소'] = '서울 강남구 테헤란로 지하 156'

In [111]:
data6[data6['검색키워드']=='동대문사문화공원역 2호선']

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소
115,0205,동대문사문화공원역,Dongdaemun History Culture Park,2호선,205,동대문사문화공원역 2호선,서울 중구 을지로 지하 178

In [112]:
data6.loc[115, '전철역명'] = '동대문역사문화공원역'
data6.loc[115, '검색키워드'] = '동대문역사문화공원역 2호선'
data6.loc[115, '주소'] = '서울 중구 을지로 지하 279'

In [113]:
data6[data6['검색키워드']=='동대문사문화공원역 4호선']

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소
158,0422,동대문사문화공원역,Dongdaemun History Culture Park,4호선,422,동대문사문화공원역 4호선,서울 중구 장충단로 지하 230

In [114]:
data6.loc[158, '전철역명'] = '동대문역사문화공원역'
data6.loc[158, '검색키워드'] = '동대문역사문화공원역 4호선'
data6.loc[158, '주소'] = '서울 중구 장충단로 지하 230'

- 검색이 잘못된 전철역명(환승) : 강남역 2호선, 강남역 신분당선, 강동역 5호선, 건대입구역 2호선, 건대입구역 7호선(주소가 서로 바뀜), 구로역 1호선, 신도림역 2호선, 신도림역 1호선, 노원역 4호선, 노원역 7호선, 도곡역 3호선, 동대문역 4호선, 동대문역 1호선, 동작역 4호선, 동작역 9호선, 마곡나루역 9호선, 망우역 경의선, 망우역 경춘선, 보문역 우이신설경전철, 불광역 6호선, 불광역 3호선, 사당역 2호선, 사당역 4호선, 석촌역 9호선, 성수역 2호선, 성신여대입구역 우이신설경전철, 신길역 1호선, 신내역 6호선, 신당역 6호선, 신당역 2호선, 양재역 신분당선, 여의도역 5호선, 여의도역 9호선, 오금역 5호선, 옥수역 경의선, 용산역 경의선, 이촌역 경의선, 잠실역 2호선, 중랑역 경의선, 중랑역 경춘선, 창동역 4호선, 창동역 1호선, 천호역 5호선, 충정로역 5호선, 합정역 6호선, 합정역 2호선 (주소가 서로 바뀜), 효창공원앞역 경의선, 디지털미디어시티역 경의선, 신도림역 2호선, 신도림역 1호선, 신설동역 우이신설경전철, 종로3가역 5호선, 종로3가역 3호선, 종로3가역 1호선, 홍대입구역 2호선, 회기역 경춘선, 회기역 경의선, 상봉역 경춘선, 왕십리역 경의선, 왕십리역 2호선, 청량리역 경의선, 청량리역 경춘선

In [212]:
data6.loc[69, '주소'] = '서울 강남구 강남대로 지하 396'
data6.loc[338, '주소'] = '서울 강남구 강남대로 지하 396'
data6.loc[199, '주소'] = '서울 강동구 천호대로 지하 1097'
data6.loc[120, '주소'] = '서울 광진구 아차산로 243'
data6.loc[218, '주소'] = '서울 광진구 능동로 지하 110'
data6.loc[278, '주소'] = '서울 구로구 구로중앙로 174'
data6.loc[90, '주소'] = '서울 구로구 새말로 지하 117-21'
data6.loc[236, '주소'] = '서울 구로구 경인로 688'
data6.loc[147, '주소'] = '서울 노원구 상계로 69-1'
data6.loc[300, '주소'] = '서울 노원구 동일로 지하 1409'
data6.loc[31, '주소'] = '서울 강남구 남부순환로 지하 2814'
data6.loc[157, '주소'] = '서울 종로구 율곡로 지하 308'
data6.loc[362, '주소'] = '서울 종로구 종로 지하 302'
data6.loc[228, '주소'] = '서울 동작구 현충로 257'
data6.loc[328, '주소'] = '서울 동작구 현충로 지하 220'
data6.loc[310, '주소'] = '서울 강서구 마곡중앙5로 지하 2'
data6.loc[261, '주소'] = '서울 중랑구 망우로55길 11-10'
data6.loc[274, '주소'] = '서울 중랑구 망우로55길 11-10'
data6.loc[350, '주소'] = '서울 성북구 보문로 지하 116'
data6.loc[17, '주소'] = '서울 은평구 통일로 지하 723-1'
data6.loc[101, '주소'] = '서울 은평구 통일로 지하 723-1'
data6.loc[83, '주소'] = '서울 동작구 남부순환로 지하 2089'
data6.loc[230, '주소'] = '서울 동작구 동작대로 지하 3'
data6.loc[77, '주소'] = '서울 송파구 백제고분로 지하 368'
data6.loc[119, '주소'] = '서울 성동구 아차산로 100'
data6.loc[349, '주소'] = '서울 성북구 동소문로 지하 102'
data6.loc[258, '주소'] = '서울 영등포구 영등포로 327'
data6.loc[373, '주소'] = '서울 중랑구 용마산로136길 33'
data6.loc[8, '주소'] = '서울 중구 다산로 지하 260'
data6.loc[116, '주소'] = '서울 중구 퇴계로 지하 431-1'
data6.loc[339, '주소'] = '서울 서초구 남부순환로 지하 2585'
data6.loc[185, '주소'] = '서울 영등포구 여의나루로 지하 40'
data6.loc[326, '주소'] = '서울 영등포구 의사당대로 지하 101'
data6.loc[206, '주소'] = '서울 송파구 오금로 지하 321'
data6.loc[239, '주소'] = '서울 성동구 동호로 21'
data6.loc[382, '주소'] = '서울 용산구 한강대로23길 55'
data6.loc[237, '주소'] = '서울 용산구 이촌로71길 42'
data6.loc[49, '주소'] = '서울 송파구 올림픽로 지하 265'
data6.loc[259, '주소'] = '서울 중랑구 중랑역로 9'
data6.loc[381, '주소'] = '서울 중랑구 중랑역로 9'
data6.loc[148, '주소'] = '서울 도봉구 마들로11길 77'
data6.loc[248, '주소'] = '서울 도봉구 마들로11길 77'
data6.loc[198, '주소'] = '서울 강동구 천호대로 지하 997'
data6.loc[129, '주소'] = '서울 서대문구 충정로 지하 28-1'
data6.loc[1, '주소'] = '서울 마포구 양화로 지하 45'
data6.loc[123, '주소'] = '서울 마포구 양화로 지하 55'
data6.loc[266, '주소'] = '서울 용산구 백범로 지하 287'
data6.loc[281, '주소'] = '서울 은평구 수색로 193'
data6.loc[90, '주소'] = '서울 구로구 새말로 지하 117-21'
data6.loc[236, '주소'] = '서울 구로구 경인로 688'
data6.loc[369, '주소'] = '서울 동대문구 왕산로 지하 1'
data6.loc[12, '주소'] = '서울 종로구 돈화문로11길 지하 26'
data6.loc[73, '주소'] = '서울 종로구 돈화문로 지하 30'
data6.loc[360, '주소'] = '서울 종로구 종로 지하 129'
data6.loc[124, '주소'] = '서울 마포구 양화로 지하 160'
data6.loc[272, '주소'] = '서울 동대문구 회기로 196'
data6.loc[389, '주소'] = '서울 동대문구 회기로 196'
data6.loc[273, '주소'] = '서울 중랑구 망우로 297'
data6.loc[240, '주소'] = '서울 성동구 왕십리광장로 17'
data6.loc[372, '주소'] = '서울 성동구 왕십리로 지하 300'
data6.loc[241, '주소'] = '서울 동대문구 왕산로 214'
data6.loc[271, '주소'] = '서울 동대문구 왕산로 214'

- 검색이 잘못된 전철역명(환승X) : 가양역 9호선, 가오리역 우이신설경전철, 개포동역 분당선, 고덕역 5호선, 공릉역 7호선, 구의역 2호선, 논현역 7호선, 대치역 3호선, 도봉역 1호선, 등촌역 9호선, 마곡역 5호선, 마포역 5호선, 면목역 7호선, 명일역 5호선, 목동역 5호선, 미아역 4호선, 반포역 7호선, 방이역 5호선, 방화역 5호선, 봉천역 2호선, 북한산우이역 우이신설경전철, 삼성역 2호선, 삼양역 우이신설경전철, 삼전역 9호선, 상계역 4호선, 상도역 7호선, 서대문역 5호선, 서빙고역 경의선, 서울숲역 분당선, 서초역 2호선, 송파역 8호선, 신림역 2호선, 신사역 3호선, 신촌역 경의선, 양원역 경의선, 영등포역 1호선, 용답역 2호선, 월계역 1호선, 응봉역 경의선, 일원역 3호선, 잠실새내역 2호선, 장지역 8호선, 정릉역 우이신설경전철, 중곡역 7호선, 증산역 6호선, 한남역 경의선, 행당역 5호선, 홍제역 3호선, 화곡역 5호선

In [461]:
data6.loc[332, '주소'] = '서울 강서구 양천로 지하 485'
data6.loc[344, '주소'] = '서울 강북구 삼양로 426'
data6.loc[253, '주소'] = '서울 강남구 개포로 지하 420'
data6.loc[203, '주소'] = '서울 강동구 고덕로 지하 253'
data6.loc[303, '주소'] = '서울 노원구 동일로 지하 1074'
data6.loc[121, '주소'] = '서울 광진구 아차산로 384-1'
data6.loc[26, '주소'] = '서울 강남구 학동로 지하 102'
data6.loc[32, '주소'] = '서울 강남구 남부순환로 지하 2952'
data6.loc[292, '주소'] = '서울 도봉구 도봉로170길 2'
data6.loc[313, '주소'] = '서울 강서구 공항대로 지하 529'
data6.loc[42, '주소'] = '서울 강서구 공항대로 지하 163'
data6.loc[187, '주소'] = '서울 마포구 마포대로 지하 33'
data6.loc[173, '주소'] = '서울 중랑구 면목로 지하 407'
data6.loc[202, '주소'] = '서울 강동구 양재대로 지하 1632'
data6.loc[179, '주소'] = '서울 양천구 오목로 지하 245'
data6.loc[151, '주소'] = '서울 강북구 도봉로 지하 198'
data6.loc[27, '주소'] = '서울 서초구 신반포로 지하 241'
data6.loc[205, '주소'] = '서울 송파구 양재대로 지하 1127'
data6.loc[38, '주소'] = '서울 강서구 금낭화로 지하 132'
data6.loc[86, '주소'] = '서울 관악구 남부순환로 지하 1721'
data6.loc[340, '주소'] = '서울 강북구 삼양로 지하 676'
data6.loc[66, '주소'] = '서울 강남구 테헤란로 지하 538'
data6.loc[388, '주소'] = '서울 강북구 삼양로 지하 259'
data6.loc[216, '주소'] = '서울 송파구 백제고분로 지하 189'
data6.loc[146, '주소'] = '서울 노원구 상계로 182'
data6.loc[132, '주소'] = '서울 동작구 상도로 지하 272'
data6.loc[44, '주소'] = '서울 종로구 통일로 지하 126'
data6.loc[238, '주소'] = '서울 용산구 서빙고로 238'
data6.loc[287, '주소'] = '서울 성동구 왕십리로 지하 77'
data6.loc[371, '주소'] = '서울 서초구 서초대로 지하 233'
data6.loc[355, '주소'] = '서울 송파구 송파대로 지하 354'
data6.loc[87, '주소'] = '서울 관악구 남부순환로 지하 1614'
data6.loc[55, '주소'] = '서울 강남구 도산대로 지하 102'
data6.loc[265, '주소'] = '서울 서대문구 신촌역로 30'
data6.loc[262, '주소'] = '서울 중랑구 송림길 147'
data6.loc[235, '주소'] = '서울 영등포구 경인로 846'
data6.loc[97, '주소'] = '서울 성동구 용답길 86'
data6.loc[246, '주소'] = '서울 노원구 월계로53길 40'
data6.loc[263, '주소'] = '서울 성동구 고산자로 123'
data6.loc[35, '주소'] = '서울 강남구 일원로 지하 121'
data6.loc[50, '주소'] = '서울 송파구 올림픽로 지하 140'
data6.loc[358, '주소'] = '서울 송파구 송파대로 지하 82'
data6.loc[348, '주소'] = '서울 성북구 아리랑로 지하 122'
data6.loc[110, '주소'] = '서울 광진구 능동로 지하 417'
data6.loc[22, '주소'] = '서울 은평구 증산로 지하 306'
data6.loc[375, '주소'] = '서울 용산구 독서당로6길 12-13'
data6.loc[191, '주소'] = '서울 성동구 행당로 지하 89'
data6.loc[103, '주소'] = '서울 서대문구 통일로 지하 440-1'
data6.loc[176, '주소'] = '서울 강서구 화곡로 지하 168'

## 4. 위도, 경도 가져올 주소 리스트 생성

In [463]:
len(data6['주소'])

391

In [465]:
address_list = data6['주소'].tolist()
address_list

['서울 마포구 월드컵로 지하 77',
 '서울 마포구 양화로 지하 45',
 '서울 마포구 독막로 지하 85',
 '서울 마포구 독막로 지하 165',
 '서울 마포구 대흥로 지하 85',
 '서울 중구 다산로 지하 38',
 '서울 중구 다산로 지하 115',
 '서울 중구 청구로 지하 77',
 '서울 중구 다산로 지하 260',
 '서울 광진구 천호대로 지하 550',
 '서울 강남구 학동로 지하 346',
 '서울 강남구 학동로 지하 180',
 '서울 종로구 돈화문로11길 지하 26',
 '서울 강동구 양재대로 지하 1369',
 '서울 송파구 양재대로 지하 1233',
 '서울 은평구 증산로 지하 477',
 '서울 은평구 서오릉로 지하 63',
 '서울 은평구 통일로 지하 723-1',
 '서울 은평구 불광로 지하 129-1',
 '서울 은평구 통일로 지하 849',
 '서울 은평구 연서로 지하 137-1',
 '서울 은평구 증산로 지하 400',
 '서울 은평구 증산로 지하 306',
 '서울 은평구 수색로 지하 175',
 '서울 마포구 월드컵로 지하 240',
 '서울 마포구 월드컵로 지하 190',
 '서울 강남구 학동로 지하 102',
 '서울 서초구 신반포로 지하 241',
 '서울 서초구 신반포로 지하 188',
 '서울 서초구 남부순환로 지하 2585',
 '서울 강남구 남부순환로 지하 2744',
 '서울 강남구 남부순환로 지하 2814',
 '서울 강남구 남부순환로 지하 2952',
 '서울 강남구 남부순환로 지하 3104',
 '서울 강남구 일원로 지하 2',
 '서울 강남구 일원로 지하 121',
 '서울 강남구 광평로 지하 270',
 '서울 서초구 과천대로 지하 816',
 '서울 강서구 금낭화로 지하 132',
 '서울 강서구 양천로 22',
 '서울 강서구 하늘길 지하 77',
 '서울 강서구 공항대로 지하 33',
 '서울 강서구 공항대로 지하 163',
 '서울 마포구 마포대로 지하 210',
 '서울 종로구 통일로 지하 126',
 '서울 종로구 세종대로 지하 172',
 '서울 서초구 서초대로 지하 103',
 '서울 광진구 강변역로 53',
 '서울 송파구 오금로 20',
 '서울 송파구 올림픽로 지하 265',
 '서울 송파구 올림픽로 지하 140',
 '서울 중구 동호로 지하 256',
 '서울 성동구 동호로 지하 104',
 '서울 성동구 동호로 21',
 '서울 강남구 압구정로 지하 172',
 '서울 강남구 도산대로 지하 102',
 '서울 서초구 잠원로4길 지하 46',
 '서울 서초구 신반포로 지하 188',
 '서울 서초구 서초대로 지하 294',
 '서울 서초구 서초중앙로 지하 31',
 '서울 동작구 사당로 지하 310',
 '서울 강동구 올림픽로 지하 776',
 '서울 강동구 천호대로 지하 997',
 '서울 강동구 올림픽로 지하 550',
 '서울 송파구 백제고분로 지하 274',
 '서울 송파구 올림픽로 지하 23',
 '서울 강남구 테헤란로 지하 538',
 '서울 강남구 테헤란로 지하 340',
 '서울 강남구 테헤란로 지하 156',
 '서울 강남구 강남대로 지하 396',
 '서울 서초구 서초대로 지하 294',
 '서울 종로구 사직로 지하 130',
 '서울 종로구 율곡로 지하 62',
 '서울 종로구 돈화문로 지하 30',
 '서울 중구 을지로 지하 129',
 '서울 마포구 백범로 지하 200',
 '서울 용산구 백범로 지하 287',
 '서울 송파구 백제고분로 지하 368',
 '서울 송파구 백제고분로 지하 446',
 '서울 송파구 위례성대로 지하 29',
 '서울 송파구 양재대로 지하 1231',
 '서울 강동구 강동대로 지하 303',
 '서울 서초구 방배로 지하 80',
 '서울 동작구 남부순환로 지하 2089',
 '서울 관악구 남부순환로 지하 1928',
 '서울 관악구 남부순환로 지하 1822',
 '서울 관악구 남부순환로 지하 1721',
 '서울 관악구 남부순환로 지하 1614',
 '서울 동작구 대림로 2',
 '서울 구로구 도림천로 477',
 '서울 구로구 새말로 지하 117-21',
 '서울 영등포구 당산로 지하 28',
 '서울 영등포구 당산로 지하 121',
 '서울 용산구 한강대로 지하 185',
 '서울 용산구 녹사평대로 지하 195',
 '서울 용산구 이태원로 지하 177',
 '서울 용산구 이태원로 지하 287',
 '서울 성동구 용답길 86',
 '서울 양천구 중앙로 지하 261',
 '서울 은평구 진관2로 지하 15-25',
 '서울 은평구 통일로 지하 849',
 '서울 은평구 통일로 지하 723-1',
 '서울 은평구 통일로 지하 602-1',
 '서울 서대문구 통일로 지하 440-1',
 '서울 서대문구 통일로 지하 361',
 '서울 서대문구 통일로 지하 247',
 '서울 종로구 지봉로 지하 24',
 '서울 종로구 지봉로 지하 112',
 '서울 중랑구 사가정로 지하 393',
 '서울 중랑구 용마산로 지하 227',
 '서울 광진구 능동로 지하 417',
 '서울 광진구 능동로 지하 210',
 '서울 중구 을지로 지하 42',
 '서울 중구 을지로 지하 106',
 '서울 중구 을지로 지하 178',
 '서울 중구 을지로 지하 279',
 '서울 중구 퇴계로 지하 431-1',
 '서울 성동구 왕십리로 206',
 '서울 성동구 아차산로 18',
 '서울 성동구 아차산로 100',
 '서울 광진구 아차산로 243',
 '서울 광진구 아차산로 384-1',
 '서울 영등포구 당산로 229',
 '서울 마포구 양화로 지하 55',
 '서울 마포구 양화로 지하 160',
 '서울 마포구 신촌로 지하 90',
 '서울 마포구 신촌로 지하 180',
 '서울 마포구 신촌로 지하 270',
 '서울 서대문구 서소문로 지하 17',
 '서울 서대문구 충정로 지하 28-1',
 '서울 동작구 사당로 지하 218',
 '서울 동작구 상도로 지하 378',
 '서울 동작구 상도로 지하 272',
 '서울 동작구 상도로 지하 188',
 '서울 동작구 상도로 지하 76',
 '서울 동작구 상도로 지하 2',
 '서울 영등포구 신풍로 지하 27',
 '서울 영등포구 도림로 지하 137',
 '서울 구로구 도림로 지하 7',
 '서울 금천구 벚꽃로 309',
 '서울 구로구 오리로 지하 1154',
 '서울 구로구 경인로3길 지하 64',
 '서울 송파구 송파대로 지하 257',
 '서울 송파구 중대로 지하 149',
 '서울 송파구 오금로 지하 321',
 '서울 노원구 상계로 305',
 '서울 노원구 상계로 182',
 '서울 노원구 상계로 69-1',
 '서울 도봉구 마들로11길 77',
 '서울 도봉구 도봉로 지하 486-1',
 '서울 강북구 도봉로 지하 338',
 '서울 강북구 도봉로 지하 198',
 '서울 강북구 도봉로 지하 50',
 '서울 성북구 동소문로 지하 248',
 '서울 성북구 동소문로 지하 102',
 '서울 성북구 삼선교로 지하 1',
 '서울 종로구 대학로 지하 120',
 '서울 종로구 율곡로 지하 308',
 '서울 중구 장충단로 지하 230',
 '서울 성동구 왕십리로 지하 300',
 '서울 성동구 천호대로 232',
 '서울 성북구 보문로 지하 116',
 '서울 성북구 고려대로 지하 89',
 '서울 성북구 종암로 지하 1',
 '서울 성북구 월곡로 지하 107',
 '서울 성북구 화랑로 지하 157',
 '서울 성북구 화랑로 지하 243',
 '서울 노원구 화랑로 지하 347-1',
 '서울 노원구 동일로 지하 992-1',
 '서울 노원구 화랑로 지하 510',
 '서울 중랑구 신내로 지하 232',
 '서울 중랑구 동일로 지하 797',
 '서울 중랑구 망우로 297',
 '서울 중랑구 면목로 지하 407',
 '서울 강서구 공항대로 지하 267',
 '서울 강서구 강서로 지하 262',
 '서울 강서구 화곡로 지하 168',
 '서울 강서구 강서로 지하 54',
 '서울 양천구 오목로 지하 179',
 '서울 양천구 오목로 지하 245',
 '서울 양천구 오목로 지하 342',
 '서울 영등포구 양산로 지하 21',
 '서울 영등포구 양산로 지하 116',
 '서울 영등포구 양산로 지하 200',
 '서울 영등포구 경인로114가길 지하 9',
 '서울 영등포구 여의나루로 지하 40',
 '서울 영등포구 여의동로 지하 343',
 '서울 마포구 마포대로 지하 33',
 '서울 마포구 마포대로 지하 100',
 '서울 중구 창경궁로 지하 51',
 '서울 성동구 금호로 지하 154',
 '서울 성동구 행당로 지하 89',
 '서울 성동구 마장로 지하 296',
 '서울 성동구 천호대로 지하 300',
 '서울 동대문구 천호대로 지하 405',
 '서울 광진구 천호대로 지하 550',
 '서울 광진구 천호대로 지하 657',
 '서울 광진구 아차산로 지하 571',
 '서울 강동구 천호대로 지하 997',
 '서울 강동구 천호대로 지하 1097',
 '서울 강동구 양재대로 지하 1480',
 '서울 강동구 양재대로 지하 1572',
 '서울 강동구 양재대로 지하 1632',
 '서울 강동구 고덕로 지하 253',
 '서울 강동구 고덕로 지하 359',
 '서울 송파구 양재대로 지하 1127',
 '서울 송파구 오금로 지하 321',
 '서울 송파구 오금로 지하 402',
 '서울 송파구 오금로 지하 499',
 '서울 송파구 마천로57길 지하 7',
 '서울 송파구 올림픽로 지하 383',
 '서울 송파구 올림픽로 305',
 '서울 강남구 선릉로 지하 580',
 '서울 강남구 봉은사로 지하 501',
 '서울 강남구 봉은사로 지하 601',
 '서울 송파구 올림픽로 지하 23',
 '서울 송파구 백제고분로 지하 189',
 '서울 강동구 동남로 지하 625',
 '서울 광진구 능동로 지하 110',
 '서울 광진구 능동로 10',
 '서울 강남구 학동로 지하 508',
 '서울 중구 퇴계로 지하 199',
 '서울 중구 퇴계로 지하 126',
 '서울 중구 퇴계로 지하 54',
 '서울 용산구 한강대로 지하 392',
 '서울 용산구 한강대로 지하 306',
 '서울 용산구 한강대로 지하 180',
 '서울 용산구 한강대로 지하 112',
 '서울 동작구 현충로 257',
 '서울 동작구 동작대로 지하 117',
 '서울 동작구 동작대로 지하 3',
 '서울 용산구 한강대로77길 25',
 '서울 용산구 한강대로23길 55',
 '서울 동작구 노량진로 151',
 '서울 영등포구 여의대방로 300',
 '서울 영등포구 경인로 846',
 '서울 구로구 경인로 688',
 '서울 용산구 이촌로71길 42',
 '서울 용산구 서빙고로 238',
 '서울 성동구 동호로 21',
 '서울 성동구 왕십리광장로 17',
 '서울 동대문구 왕산로 214',
 '서울 동대문구 회기로 196',
 '서울 동대문구 휘경로 27',
 '서울 동대문구 한천로 472',
 '서울 노원구 석계로 98-2',
 '서울 노원구 월계로53길 40',
 '서울 도봉구 덕릉로 376',
 '서울 도봉구 마들로11길 77',
 '서울 강남구 테헤란로 지하 340',
 '서울 강남구 선릉로 지하 228',
 '서울 강남구 남부순환로 지하 2814',
 '서울 강남구 개포로 지하 403',
 '서울 강남구 개포로 지하 420',
 '서울 강남구 개포로 지하 522',
 '서울 성동구 왕십리광장로 17',
 '서울 강남구 광평로 지하 270',
 '서울 송파구 송파대로 지하 6',
 '서울 영등포구 영등포로 327',
 '서울 중랑구 중랑역로 9',
 '서울 중랑구 망우로 297',
 '서울 중랑구 망우로55길 11-10',
 '서울 중랑구 송림길 147',
 '서울 성동구 고산자로 123',
 '서울 중구 통일로 1',
 '서울 서대문구 신촌역로 30',
 '서울 용산구 백범로 지하 287',
 '서울 마포구 마포대로 지하 92',
 '서울 마포구 양화로 지하 188',
 '서울 은평구 수색로 261-1',
 '서울 노원구 석계로 98-2',
 '서울 동대문구 왕산로 214',
 '서울 동대문구 회기로 196',
 '서울 중랑구 망우로 297',
 '서울 중랑구 망우로55길 11-10',
 '서울 중랑구 신내역로 20',
 '서울 노원구 화랑로 341',
 '서울 마포구 서강로 지하 118',
 '서울 구로구 구로중앙로 174',
 '서울 금천구 벚꽃로 309',
 '서울 금천구 시흥대로63길 91',
 '서울 은평구 수색로 193',
 '서울 금천구 벚꽃로 115',
 '서울 구로구 경인로40길 47',
 '서울 구로구 경인로20길 13',
 '서울 구로구 구일로 133',
 '서울 구로구 부일로 872',
 '서울 성동구 왕십리로 지하 77',
 '서울 강남구 압구정로 지하 402',
 '서울 강남구 학동로 지하 346',
 '서울 강남구 선릉로 지하 580',
 '서울 도봉구 도봉로150다길 3',
 '서울 도봉구 도봉로170길 2',
 '서울 도봉구 도봉로 948',
 '서울 동대문구 왕산로 214',
 '서울 중구 마른내로 지하 162',
 '서울 중구 청구로 지하 77',
 '서울 도봉구 도봉로 964-40',
 '서울 노원구 동일로 지하 1662',
 '서울 노원구 동일로 지하 1530-1',
 '서울 노원구 동일로 지하 1409',
 '서울 노원구 동일로 지하 1308-1',
 '서울 노원구 동일로 지하 1196',
 '서울 노원구 동일로 지하 1074',
 '서울 노원구 동일로 지하 992-1',
 '서울 중랑구 동일로 지하 901',
 '서울 강서구 개화동로8길 19',
 '서울 강서구 하늘길 지하 77',
 '서울 강서구 방화동로 지하 30',
 '서울 강서구 방화대로 지하 301',
 '서울 강서구 마곡중앙5로 지하 2',
 '서울 강서구 양천로 지하 341',
 '서울 강서구 양천로 지하 560',
 '서울 강서구 공항대로 지하 529',
 '서울 영등포구 양평로 지하 124',
 '서울 영등포구 의사당대로 지하 166',
 '서울 동작구 노량진로 지하 130',
 '서울 동작구 현충로 지하 90',
 '서울 서초구 신반포로 지하 17',
 '서울 서초구 신반포로 지하 105',
 '서울 강남구 봉은사로 지하 102',
 '서울 강서구 하늘길 지하 77',
 '서울 강서구 공항대로 지하 631',
 '서울 양천구 목동중앙로 지하 217',
 '서울 영등포구 양평로 지하 40',
 '서울 영등포구 국회대로 지하 758',
 '서울 영등포구 의사당대로 지하 101',
 '서울 동작구 노량진로 지하 238',
 '서울 동작구 현충로 지하 220',
 '서울 서초구 신반포로 지하 188',
 '서울 서초구 사평대로 지하 285',
 '서울 강서구 마곡중앙로 지하 135',
 '서울 강서구 양천로 지하 485',
 '서울 용산구 청파로 378',
 '서울 마포구 마포대로 지하 92',
 '서울 마포구 양화로 지하 188',
 '서울 마포구 성암로 지하 184',
 '서울 서초구 매헌로 지하 116',
 '서울 강남구 강남대로 지하 396',
 '서울 서초구 남부순환로 지하 2585',
 '서울 강북구 삼양로 지하 676',
 '서울 중구 다산로 지하 122',
 '서울 강북구 삼양로 595',
 '서울 강북구 삼양로 519',
 '서울 강북구 삼양로 426',
 '서울 강북구 삼양로 197',
 '서울 강북구 솔샘로 지하 189',
 '서울 성북구 보국문로 지하 88',
 '서울 성북구 아리랑로 지하 122',
 '서울 성북구 동소문로 지하 102',
 '서울 성북구 보문로 지하 116',
 '서울 강서구 강서로 지하 54',
 '서울 중구 서소문로 지하 127',
 '서울 용산구 서빙고로 지하 83',
 '서울 송파구 송파대로 지하 439',
 '서울 송파구 송파대로 지하 354',
 '서울 송파구 송파대로 지하 257',
 '서울 송파구 송파대로 지하 179',
 '서울 송파구 송파대로 지하 82',
 '서울 송파구 송파대로 지하 6',
 '서울 종로구 종로 지하 129',
 '서울 종로구 종로 지하 216',
 '서울 종로구 종로 지하 302',
 '서울 동대문구 왕산로 지하 1',
 '서울 동대문구 왕산로 지하 93',
 '서울 동대문구 왕산로 지하 205',
 '서울 종로구 종로 359',
 '서울 중구 퇴계로 지하 199',
 '서울 서초구 청계산로 지하 179',
 '서울 동대문구 왕산로 지하 1',
 '서울 강서구 하늘길 지하 77',
 '서울 서초구 서초대로 지하 233',
 '서울 성동구 왕십리로 지하 300',
 '서울 중랑구 용마산로136길 33',
 '서울 성동구 왕십리로 지하 374',
 '서울 용산구 독서당로6길 12-13',
 '서울 구로구 도림천로 351',
 '서울 동대문구 왕산로 지하 1',
 '서울 구로구 경인로67길 160',
 '서울 양천구 목동로3길 지하 33',
 '서울 동대문구 천호대로 지하 129',
 '서울 중랑구 중랑역로 9',
 '서울 용산구 한강대로23길 55',
 '서울 강남구 봉은사로 지하 201',
 '서울 중구 세종대로 지하 2',
 '서울 중구 세종대로 지하 101',
 '서울 종로구 종로 지하 55',
 '서울 강북구 삼양로 341',
 '서울 강북구 삼양로 지하 259',
 '서울 동대문구 회기로 196',
 '서울 서대문구 수색로 27']

## 5. 카카오 API 활용 - 위도, 경도 검색

In [472]:
# 위도, 경도 검색 함수 정의
def lat_lon(address):
    url = "https://dapi.kakao.com/v2/local/search/address.json?&query=" + address
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK *****"})
    json_obj = result.json()
    global val   # 전역 변수를 지역 범위에서 사용하고 싶을 경우
    for document in json_obj['documents']:
        # 값이 NoneType 일 경우의 오류 방지
        try:
            val = [document['y'], document['x']]
        except:
            val = [0, 0]
    return val

In [473]:
lat_lon('서울 은평구 통일로 지하 723-1')

['37.6102072578868', '126.92998576213']

In [474]:
# 위도, 경도 검색 함수 반복 적용
list2 = []
for i in address_list:
    list2.append(lat_lon(i))

In [476]:
data7 = pd.DataFrame(list2, columns=['위도','경도'])
print(data7.shape)
data7.head()

(391, 2)

                 위도                경도
0  37.5560572923314  126.910033925408
1  37.5491226824276  126.913544566078
2  37.5477716665856  126.922409857908
3  37.5474860706906  126.931939240491
4  37.5476683544726  126.942465251709

In [477]:
data8 = pd.concat([data6, data7], axis=1)
print(data8.shape)
data8.head()

(391, 9)

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소,위도,경도
0,2622,망원역,Mangwon,6호선,621,망원역 6호선,서울 마포구 월드컵로 지하 77,37.5560572923314,126.910033925408
1,2623,합정역,Hapjeong,6호선,622,합정역 6호선,서울 마포구 양화로 지하 45,37.5491226824276,126.913544566078
2,2624,상수역,Sangsu,6호선,623,상수역 6호선,서울 마포구 독막로 지하 85,37.5477716665856,126.922409857908
3,2625,광흥창역,Gwangheungchang,6호선,624,광흥창역 6호선,서울 마포구 독막로 지하 165,37.5474860706906,126.931939240491
4,2626,대흥역,Daeheung,6호선,625,대흥역 6호선,서울 마포구 대흥로 지하 85,37.5476683544726,126.942465251709

## 6. 환승역 여부 컬럼 추가

In [494]:
환승역 = data8.groupby(['전철역명'])['검색키워드'].count().to_frame()
환승역 = 환승역[환승역['검색키워드'] >= 2].drop('신촌역', axis=0)   # 신촌역은 환승역이라고 볼 수 없으므로 제외
환승역

          검색키워드
전철역명
가락시장역         2
가산디지털단지역      2
강남구청역         2
강남역           2
건대입구역         2
...         ...
태릉입구역         2
합정역           2
홍대입구역         3
회기역           3
효창공원앞역        2

[73 rows x 1 columns]

In [495]:
환승역.index

Index(['가락시장역', '가산디지털단지역', '강남구청역', '강남역', '건대입구역', '고속터미널역', '공덕역', '광운대역',
       '교대역', '군자역', '김포공항역', '까치산역', '노량진역', '노원역', '당산역', '대림역', '도곡역',
       '도봉산역', '동대문역', '동대문역사문화공원역', '동묘앞역', '동작역', '디지털미디어시티역', '마곡나루역',
       '망우역', '보문역', '복정역', '불광역', '사당역', '삼각지역', '상봉역', '서울역', '석계역', '석촌역',
       '선릉역', '선정릉역', '성신여대입구역', '수서역', '시청역', '신길역', '신내역', '신당역', '신도림역',
       '신설동역', '약수역', '양재역', '여의도역', '연신내역', '영등포구청역', '오금역', '옥수역', '온수역',
       '올림픽공원역', '왕십리역', '용산역', '을지로3가역', '을지로4가역', '이촌역', '잠실역', '종로3가역',
       '종합운동장역', '중랑역', '창동역', '천호역', '청구역', '청량리역', '충무로역', '충정로역', '태릉입구역',
       '합정역', '홍대입구역', '회기역', '효창공원앞역'],
      dtype='object', name='전철역명')

In [496]:
# 환승역이면 1, 아니면 0
data8['환승역'] = 0
for i in range(len(data8)):
    if data8['전철역명'][i] in 환승역.index:
        data8['환승역'][i] = 1

In [497]:
data8.head()

,전철역코드,전철역명,전철명명(영문),호선,외부코드,검색키워드,주소,위도,경도,환승역
0,2622,망원역,Mangwon,6호선,621,망원역 6호선,서울 마포구 월드컵로 지하 77,37.5560572923314,126.910033925408,0
1,2623,합정역,Hapjeong,6호선,622,합정역 6호선,서울 마포구 양화로 지하 45,37.5491226824276,126.913544566078,1
2,2624,상수역,Sangsu,6호선,623,상수역 6호선,서울 마포구 독막로 지하 85,37.5477716665856,126.922409857908,0
3,2625,광흥창역,Gwangheungchang,6호선,624,광흥창역 6호선,서울 마포구 독막로 지하 165,37.5474860706906,126.931939240491,0
4,2626,대흥역,Daeheung,6호선,625,대흥역 6호선,서울 마포구 대흥로 지하 85,37.5476683544726,126.942465251709,0

In [501]:
data8.to_csv('data/지하철_위도경도.csv', index=False)